<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.media_to_vk_ahb">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Set hasCode=false because this APK contains no Java code. -->
    <application
        android:hasCode="false"
        android:label="Demo: Media Decode to Vk AHB">
        <activity
            android:name="android.app.NativeActivity"
            android:label="Demo: Media Decode to Vk AHB"
            android:configChanges="orientation|keyboardHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="ru-main" />
            <meta-data
                android:name="android.app.func_name"
                android:value="ANativeActivity_onCreate" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
